*{
    margin:0;
    padding: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
  
}
body{
    background-color: rgb(41, 41, 41);
    transition: all ease 0.5s;
}
html{
    scroll-behavior: smooth;
}

/* lightMode start */
.light{
    background-color: aliceblue;
    color: black;
}
.light h1{
    color: black;
}
.light #navbar h1{
    color: white;
}
.light #home h1{
    color: black;
}
.light #projects .col{
    color: black;
}
.light #contact i{
    color: black;
}
.light #about table tr th{
    color: #111;
}
.light #about table tr td{
    color: #111;
}
.light hr{
    background-color: black;
}
.light footer hr{
    background-color: white;
}
/* lightMode end */

/* navbar start */
#navbar{
    position: fixed;
    width: 100%;
    background-color: #111;
    height: 100px;
    box-shadow: 1px 0px 10px rgba(255, 255, 255, 0.468);
    z-index: 1;
}
#navbar .container{
    align-items: center;
    height: 100%;
    display: flex;
    width: 90%;
    margin: auto;
}
#navbar h1{
    width:100%;
}
#navbar b{
    color:rgb(0, 174, 0);
}
#navbar ul{
    list-style: none;
    display: flex;
    justify-content: end;
    width: 100%;
}
#navbar li a{
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    border: white 2px solid;
    font-size: 18px; 
    color: white;
    cursor: pointer;
}
#navbar li a:hover{
    background-color: white;
    color: black;
    transition: all 0.5s linear;
    border-color: black;
}
#navbar .menu{
    display: none;
    cursor: pointer;
    font-size: 40px;
}
#light{
    background-color: transparent;
    font-size: 30px;
    border: none;
    cursor: pointer;
}
/* navbar end */

/* sidebar start */
#sidebar{
    padding-top: 100px;
    position: fixed;
    width: 50%;
    left: -60%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.673);
}
#sidebar ul{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
#sidebar li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 200px;
}
#sidebar li a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
#light2{
    font-size: 30px;
}
/* sidebar end */

/* home start */
#home {
    padding-top: 100px;
    box-sizing: border-box;
}
#home .container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#home .image{
    background-image: url("assets/profile.jpg");
    width: 300px;
    height: 300px;
    background-size: cover;
}
#home h1 {
    color: white;
}
#home .word{
    background-color: rgb(0, 174, 0);
    width: 70%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
}
/* home end */

/* projects start */
#projects{
    width: 100%;
    padding-top: 200px;
    box-sizing: border-box;
    text-align: center;
}
#projects .row{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}
#projects .col{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    box-shadow: -5px 5px 8px rgb(0, 0, 0);
    border-radius: 10px;
}
#projects .col:hover{
    background-color: white;
    color: black;
    transition: all 0.5s linear;
}
/* projects end */

/* Tabel start */
#about{
    padding-top:100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about table{
    box-shadow: white;
    display: flex;
    justify-content: center;
    margin: 10px;
}
#about table tr td{
    color: white;
}
#about table tr tH{
    color: white;
}
/* Table end */

/* contact start */
#contact {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100vh;
    padding-top: 100px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
#contact form{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blue;
    height: 450px;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}
#contact input{
    width: 100%;
    color: black;
}
#contact textarea{
    width: 100%;
    color: black;
}
#contact button{
    background-color: transparent;
    padding: 5px;
    border-color: white;
    cursor: pointer;
}
#contact button:hover{
    background-color: white;
    color: black;
    transition: all 0.5s linear;
}
/* contact end */

/* footer start */
footer{
    text-align: center;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}
hr{
    width: 200px;
    height: 2px;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 20px;
}
footer .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer .card{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 280px;
    margin: 10px;
    line-height: 25px;
    border-radius: 10px;
    height: 110px;
}
footer .card h4{
    text-align: center;
}
footer .card:hover{
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.3);
    transition: all 0.5s linear;
}
footer .sosmed{
    font-size: 30px;
}
footer .sosmed a.insta i:hover{
    color: rgb(247, 3, 178);
    transition: all 0.5s linear;
}
footer .sosmed a.git i:hover{
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}
/* footer end */

/* display start */
@media(max-width: 768px){
    #navbar ul{
        display: none;
    }
    #navbar button{
        display: none;
    }
    #navbar .menu{
        display: block;
    }
    #about table{
        width: 500px;
    }
    #gambar{
        display: none;
    }
}
@media(max-width: 500px){
    #home .word{
        width: 100%;
        box-sizing: border-box;
    }
    #about table{
        width: 300px;
    }
    #contact form{
        width: 100%;
    }
    #gambar{
        display: none;
    }
}
/* display end */